@model SlvTeam.Domain.Entities.SlvTeamUser;
@{
    ViewData["Title"] = "Профиль";
}


<div class="row">
    <div class="col-md-4">
        <img src="~/UserImages/@Model.ImagePath" alt="@Model.ImagePath" class="img-fluid" />
        
    </div>


    <div class="col-md-8">
        <table class="table">
            <tr>
                <th>Имя</th>
                <td>@Model.FirstName</td>
            </tr>
            <tr>
                <th>Фамилия</th>
                <td>@Model.LastName</td>
            </tr>
            <tr>
                <th>О себе</th>
                <td>@Model.AboutAs</td>
            </tr>
            <tr>
                <th>Последний раз отмечался здесь</th>
                @if (string.IsNullOrWhiteSpace(Model.Location))
                {
                    <td>Местоположение не установлена</td>
                }
                else
                {
                    <td>
                        @Model.Location
                    </td>
                }
            </tr>

        </table>
    </div>
    
    <div class="jumbotron  mb-6">
        <h1 class="display-4">Задайте анонимный вопрос этому пользователю!</h1>
        <hr class="my-4">
        <form asp-antiforgery="true" asp-action="CreateQuestion" asp-controller="Questions">
            <div class="form-group">
                <br/>
                <textarea required="" placeholder="Ваш вопрос" class="form-control" name="textQuestion" rows="3"></textarea>
                <input type="hidden" name="userID" value="@Model.Id"/>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
    <br/>
</div>