@model SlvTeam.Domain.Models.UserProfileModel
@{
    ViewData["Title"] = "Профиль";
}


<div class="row">
    
    <div class="col-md-4">
        <div class="card col-md-12 text-center m-2">
            <img class="card-img-top img-thumbnail" style="max-height: 350px;"src="/UserImages/@Model.User.ImageName"/>
            <div class="card-body">
                <br />
            </div>
        </div>

        <br/>
        <a class="btn btn-info col-md-12" asp-controller="Profiles" asp-action="EditProfilePage">
            <i class="fas fa-user-edit"></i>
            Редактировать профиль
        </a>

        @if(Model.User.IsSlvTeam)
        {
            <br/>
            <button class="btn btn-success col-md-12" id="showFormWithNews">
                <i class="fas fa-pencil-alt"></i>
                Написать новость от лица Slv-Team
            </button>
        }


    </div>
   

    <div class="col-md-7">
        <br/>
        <h4>@Model.User.FirstName @Model.User.LastName </h4>
        <table class="table">
            <tr>
                <th>О себе</th>
                <td>@Model.User.AboutAs</td>
            </tr>
            <tr>
                <th>Местоположение</th>
                @if(string.IsNullOrWhiteSpace(Model.User.Location))
                {
                    <td>
                        <div id="textCoords">
                            <button class="btn btn-success" onclick="AddCoords()"> Добавить локацию </button>
                        </div>
                    </td>
                }
                else
                {
                    <td>
                        @Model.User.Location
                        <br/>
                        <br/>
                        <button class="btn btn-success" onclick="AddCoords()">
                            <i class="fas fa-map-marked-alt"></i>
                            Обновить локацию
                        </button>
                    </td>
                }
            </tr>
        </table>
    </div>
    <br/>
    <br/>
</div>

<br/>

<div style="display: none" id="FormWithNews" class="jumbotron  mb-6">
    <h4 class="display-4">Что нового?</h4>
    <small>Не забывайте, вы пишите от лица всей SlvTeam</small>
    <hr class="my-4">
    <form asp-antiforgery="true" asp-action="CreateNews" asp-controller="SlvTeamNews">
        <div class="form-group">
            <textarea required="" placeholder="Введите новость..." class="form-control" name="textNews" rows="3"></textarea>
            <input type="hidden" name="userID" value="@Model.User.Id"/>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>

<h4 class="text-center">
    Ответы на вопросы
    <i class="fas fa-comments"></i>
</h4>

@if(Model.Questions.Length == 0)
{
    <br/>
    <div class="text-center">
        <h4 class="text-info col-md-12">Этот пользователь ещё не отвечал на вопросы...</h4>
    </div>
}
else
{
    <br/>
    <br/>
    <div style="border: 1px solid black; border-radius: 15px; padding: 20px">
        @foreach(var question in Model.Questions)
        {
            <div class="card p-3 text-right col-md-12">
                <blockquote class="blockquote mb-0">
                    <p>@question.TextAnswer</p>
                    <p class="font-weight-light">
                        @question.TextQuestion
                    </p>
                    <small>@question.TimeAnswer</small>
                    <form method="post" asp-controller="Questions" asp-action="DeleteQuestion" asp-route-returnUrl="@Url.Action("Profile", "Profiles")" asp-route-questionID="@question.Id">
                        <br/>
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </blockquote>
            </div>
            <br/>
        }
    </div>
}