@model SlvTeam.Domain.Entities.SlvTeamUser;
@{
    ViewData["Title"] = "Профиль";
}


<div class="row">
    <div class="col-md-4">
        <img src="~/UserImages/@Model.ImagePath" alt="@Model.ImagePath" class="img-fluid" />
        
    </div>


    <div class="col-md-8">
        <table class="table">
            <tr>
                <th>Имя</th>
                <td>@Model.FirstName</td>
            </tr>
            <tr>
                <th>Фамилия</th>
                <td>@Model.LastName</td>
            </tr>
            <tr>
                <th>О себе</th>
                <td>@Model.AboutAs</td>
            </tr>
            <tr>
                <th>Последний раз отмечался здесь</th>
                @if (string.IsNullOrWhiteSpace(Model.Location))
                {
                    <td>Местоположение не установлена</td>
                }
                else
                {
                    <td>
                        @Model.Location
                    </td>
                }
            </tr>

        </table>
    </div>
</div>