@model SlvTeam.Domain.Models.UserProfileModel
@{
    ViewData["Title"] = "Профиль";
}


<div class="row">
    <div class="col-md-4">
        <div class="polaroid">
            <img style="max-height: 370px; max-width: 330px" class="img-thumbnail img-fluid" src="/UserImages/@Model.User.ImageName"/>
        </div>
    </div>


    <div class="col-md-8">
        <br/>
        <h4>@Model.User.FirstName @Model.User.LastName </h4>
        <table class="table">
            <tr>
                <th>О себе</th>
                <td>@Model.User.AboutAs</td>
            </tr>
            <tr>
                <th>Последний раз отмечался здесь</th>
                @if(string.IsNullOrWhiteSpace(Model.User.Location))
                {
                    <td>Местоположение не установлено</td>
                }
                else
                {
                    <td>
                        @Model.User.Location
                    </td>
                }
            </tr>

        </table>
    </div>
    <br/>
    <br/>
</div>

<div class="text-center">
    <div class="btn btn-info text-center" id="showFormWithQuestion">Задать пользователю анонимный вопрос</div>
    <br/>
</div>

<br/>

<div style="display: none" id="FormWithQuestion" class="jumbotron  mb-6">
    <h4 class="display-4">Анонимный вопрос</h4>
    <hr class="my-4">
    <form asp-antiforgery="true" asp-action="CreateQuestion" asp-controller="Questions">
        <div class="form-group">
            <br/>
            <textarea required="" placeholder="Ваш вопрос..." class="form-control" name="textQuestion" rows="3"></textarea>
            <input type="hidden" name="userID" value="@Model.User.Id"/>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>

<br/>

<h4 class="text-center">
    Ответы на вопросы
    <i class="fas fa-comments"></i>
</h4>


@if(Model.Questions.Length == 0)
{
    <br/>
    <div class="text-center">
        <h4 class="text-info col-md-12">Этот пользователь ещё не отвечал на вопросы...</h4>
    </div>
}
else
{
    <br/>
    <br/>
    <div style="border: 1px solid black; border-radius: 15px; padding: 20px">
        @foreach(var question in Model.Questions)
        {
            <div class="card p-3 text-right col-md-12">
                <blockquote class="blockquote mb-0">
                    <p>@question.TextAnswer</p>
                    <p class="font-weight-lighter">
                        @question.TextQuestion
                    </p>
                    <small>@question.TimeAnswer</small>
                </blockquote>
            </div>
            <br/>
        }
    </div>
}