@model SlvTeam.Domain.Entities.SlvTeamUser[]

@{
    ViewData["Title"] = "Slv-Team";
}

<div class="row">

    <div class="row col-md-12">
        @{
            foreach (var user in Model)
            {
                <div class="card col-md-4 text-center m-2">
                    <img src="~/UserImages/@user.ImagePath" class="card-img-top" alt="@user.ImagePath">
                    <div class="card-body">
                        <h5 class="card-title">@user.FirstName @user.LastName</h5>
                        <h2>@user.AboutAs</h2>

                    </div>
                    <div class="card-footer">

                        <a class="btn btn-info btn-block" asp-area="" asp-controller="Profiles" asp-action="ProfileDetail" asp-route-userID="@user.Id">
                            Просмотреть профиль
                        </a>
                    </div>
                </div>
            }
        }
    </div>
    

</div>

