@model SlvTeam.Domain.Entities.Question[]
@{
    ViewData["Title"] = "Неотвеченные вопросы";
}

@if(Model.Length > 0)
{
    @foreach(var question in Model)
     {
         <div class="form-group" style="border: 1px solid black; border-radius: 15px; padding: 10px;">
             <form method="post">
                 <span>Вопрос: @question.TextQuestion</span>

                 <div class="form-group">
                     <textarea class="form-control" name="textAnswer" placeholder="Введите ответ..." rows="3"></textarea>
                 </div>
                 <button type="submit" asp-controller="Questions" asp-action="SetAnswerOnQuestion" asp-route-questionID="@question.Id" class="btn btn-primary">Ответить</button>
             </form>

             <form method="post" class="mt-1" asp-controller="Questions" asp-action="DeleteQuestion" asp-route-returnUrl="@Url.Action("UnansweredQuestion", "Questions")" asp-route-questionID="@question.Id">
                 <button type="submit" class="btn btn-danger">Удалить</button>
             </form>

             <br/>
             <span>@question.TimeAnswer</span>
         </div>
     }
}
else
{
    <h5 class="text-center">У вас нет неотвеченных вопросов!</h5>
}