@model SlvTeam.Domain.Models.ChatViewModel

@{
    ViewData["Title"] = "Чат";
}

<div class="container">
    <div id="messagesList" class="row">
        @foreach (var msg in Model.Messages)
        {
            string classes = msg.SlvTeamUserID == Model.User.Id ? "ChatContainerSender bg-light col-7 offset-5 text-right mt-3" : "ChatContainerRecipient bg-light col-7 mt-3";

            <div id="msg @msg.Id" class="@classes">
                <a asp-controller="Profiles" asp-action="ProfileDetails" asp-route-userID="@msg.SlvTeamUserID">
                    <p class="ChatSender" style="color: black;">@msg.UserName</p>
                </a>
                <p>
                    @msg.Text
                </p>
                <span>
                    @msg.When
                </span>
            </div>
        }
    </div>
</div>

<br/>

<a class="btn btn-warning" href="#">
    <i class="fas fa-arrow-up"></i>
    Наверх
    <i class="fas fa-arrow-up"></i>
</a>
<div class="jumbotron col-md-12">

    <div class="form-group">
        <label >Сообщение</label>
        <input type="hidden" id="userName" value="@Model.User.FirstName @Model.User.LastName"/>
        <input type="hidden" id="thisUserID" value="@Model.User.Id"/>
        <textarea class="form-control" id="messageInput" rows="3"></textarea>
    </div>
    <button id="sendButton" class="btn btn-primary">Отправить</button>
</div>


@section Scripts
{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}